.App {
  text-align: center;
  background-color: #46555A;
  z-index: -999;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.5fr 2.5fr 0.5fr;
  grid-template-areas:  '. . . .'
                        '. squares data .'
                        '. . . .';
  width: 100vw;
  height: 100vh;
}

.squares-area {
  grid-area: squares;
}

.squares-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.data {
  position: relative;
  grid-area: data;
  color: white;
}

.elements {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.element-title {
  display: block;
}

.element.subtitle {
  display: block;
}
#settings {
  position: fixed !important;
  right: 1.2rem;
  bottom: 1.2rem;
  opacity: .2;
}

#settings .MuiSvgIcon-root {
  font-size: 2rem;
}