.App {
  text-align: center;
  z-index: -999;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.5fr 2.5fr 0.5fr;
  grid-template-areas:  '. . . .'
                        '. squares data .'
                        '. . . .';
  width: 100vw;
  height: 100vh;
}

.squares-area {
  grid-area: squares;
}

.squares-container {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.data {
  position: relative;
  grid-area: data;
  color: white;
}

.elements {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.align-left {
  text-align: left;
}
.element-avatar .MuiAvatar-root {
  width: 10rem;
  height: 10rem;
}

.element-number {
  height: 30%;
  font-size: 3.5rem;
}

.element-info {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.element-title {
  display: block;
  font-weight: 200;
}

.element-subtitle {
  display: block;
  font-weight: 400;
}

#settings {
  position: fixed !important;
  right: 1.2rem;
  bottom: 1.2rem;
  opacity: .2;
}

#settings .MuiSvgIcon-root {
  font-size: 2rem;
}